# Python
*venv
/.idea
__pycache__/
*.pyc

# Terraform
**/terraform.tfstate*
.terraform
.notes
.vs
**terraform/.terraform.lock.hcl

# Virtual Environments
.venv

# Ruby
*.lock

# IDE & development
.vscode/
*.iml
**/build
docker_load.log

# Mac
.DS_Store

# Test environment
*generated.postman_environment.json
process.yml
.pytest_cache/
.coverage

# Misc
*crash.log

~$*.xlsx

sirius_db/db_snapshots/*.sql

scripts/do_anonymising/change_log.txt
*PLAY*
**/mappings.zip
.pg_restore.api.log
sirius-snapshot
data/
*terraform.output.json
*terraform.output_casrec_migration.json
*etl*.sql
*integration*.sql
migration_steps/shared/sql/temp/*.sql
migration_steps/shared/sql/schemas/*.sql
migration_steps/shared/progress/*_progress.json
migration_steps/validation/api_tests/response_tests/api_tests_*.log
validation.sql
/scripts/api_tests_generator/responses/*.csv
/scripts/api_tests_generator/responses/*.json
migration_steps/shared/temp/report_table.txt
